* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    
    box-sizing: border-box; /* Mantém largura e altura definidas pelo desenvolvedor incluindo padding e bordas */
  }

  body{
    background-color: #F1CBBE;
    overflow-x: hidden;
   
  }


.col-md-8 {
    position: relative;
    z-index: 2; /* Ajuste o valor de z-index conforme necessário */
}

  /*menu fixo lateral*/
  #side {
    position: fixed;
    top: 0; /* A seção ficará fixa no topo da janela */
    left: 0; /* A seção ficará fixa no lado esquerdo da janela */
    background-color: #89000C;
    height: 100vh; /* Altura igual à altura da tela */
    padding: 30px;
    z-index: 1000;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /*secao onde fica a imagem*/
  .profile-pic {
    position: relative;
    background-color: #fff;
    padding: 10px;
    border-radius: 1000px 1000px 0 0;
    width: 100%; /* Tornar a largura responsiva */
    height: auto; /* Altura automática para tornar a imagem responsiva */
    max-width: 180px; /* Definir a largura máxima */
    margin: 50px auto; /* Centralizar */
    text-align: center; /* Centraliza o conteúdo h1 horizontalmente */
      }

  /*imagem de perfil*/

  .profile-img {
    max-width: 100%; /* Tornar as imagens responsivas sem aumentar o tamanho */
    height: auto; /* Altura automática */
  }

  .profile-logo,
  .h1-fixo{
    display: block;
    margin: auto;

  }
    /*titulo H1 nome fixo*/
  .h1-fixo{
    font-family: 'Imbue', sans-serif;
    font-size: 3vw;
  }


   
  /*icones links*/
  .link-icones{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  /*itens de navegação itens fixos*/

  .sidebar {
    display: flex;
    flex-direction: column;
     }
  
     /***********Botoes da parte vermelha*/
  .button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
  }
  
  .button-group button {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 110px; /* Define a largura dos botões */
    margin-bottom: 10%; /* Adiciona margem inferior para espaçamento entre os botões */
    margin-right: 5px;
    padding: 6px;
    border-radius: 10px;
    align-items: center;
    font-size: 15px;
  }

  /*FIM DA SECTION VERMELHA*/
  #scroll-part {
    margin-left: 34%; /* trazendo o conteúdo para a direita */
    max-width: calc(100% - 34%); /* ocupando 100% da largura menos a margem à esquerda */
    padding-top: 60px;
    overflow-x: hidden; /* esconde a barra de rolagem horizontal */

  }

  /*==================================================Aqui começa a parte onde há scroll*/
  @media (min-width: 967px) and (max-width: 992px) {
  #scroll-part {
    margin-left: 34%; /* trazendo o conteúdo para a direita */
    max-width: calc(100% - 34%); /* ocupando 100% da largura menos a margem à esquerda */
    padding-top: 60px;
    overflow-x: hidden; /* esconde a barra de rolagem horizontal */

  }
.titulos{
  font-family: 'Imbue', sans-serif;
  color: #89000C;
  font-size: 5em;
}

.h2-obras{
  font-family: 'Imbue', sans-serif;
  color: #89000C;
  font-size: 3em;
}

h2{
  font-family: 'Imbue', sans-serif;
  color: #89000C;
  font-size: 3em;
}
.texto-descritivo{
    color: #89000C;
    font-size: 1em;
    margin-left: 15%;
}

.texto-home{
  padding-top: 10px; /* Adicionando padding ao topo do texto */
  padding-bottom: 10px; 
  }

.container-img-home{
    padding-left: 5%;
   
  }

}

  /*texto*/
  .container-texto {
    padding-left: 4%;
 
  }

  /*Secao 1*/
  #secaoZero,
  #secaoUm,
  #secaoDois,
  #secaoTres,
  #secaoQuatro,
  #secaoCinco,
  #secaoSeis{
    margin-left: 32%;/*trazendo o conteudo esquerdo*/
    max-width: 100%;/*ocupando 100% da col-8*/
    padding-top: 60px;
    display: flex;
    overflow-x: hidden;
    padding-left: 30px;
}


/*capa das obras*/
.img-obras{
  max-height: 350px;
  margin-left: 11%;
  margin-bottom: 8%;
  margin-top: 0;
  /*borda na imagem*/
  border: 3px solid #161414;
  border-radius: 90px 90px 0 0;
}


/*configurando estilos da linha vertical com genero das obras*/

/*linha vertical*/
.vertical-line {
  border-left: 5px solid #89000C; /* Define a borda esquerda da linha */
  height: 150px; /* Define a altura da linha */
  margin-right: 2%;
  margin-left: 9%;
}


/*container que tem a linha e os itens*/
.linha {
  display: flex;
  align-items: flex-start; /* Alinha os itens ao topo */
}

/*container onde tem o genero textual da obra*/
.info-container {
  display: flex;
  flex-direction: column; /* Os itens serão dispostos em uma coluna */
}

.info {
  margin: 5px 0; /* Adiciona espaço entre os itens */
  color: #161414;
}
/*FIM DA LINHA VERTICAL E GENERO DAS OBRAS*/

/*deixando o icone classificacao indicativa e o nome da obra lado a lado com display flex*/
.container-status-obra{
  display: flex;
  margin-bottom: 0;
  margin-left: 2%;
}

.h2-obras{
  font-size: 2em;
}



/*icone +18*/
.icone-classificacao{
  height: 30px;
  margin-top: 25px;
  margin-right: 3px;
}

/*andamento da obra*/
small{
  color: #161414;
}

/*Texto resumo das obras*/
.texto-descritivo{
  color: #161414;
  font-size: 1em;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-right: 5px;
}

/*botao com link para a historia*/
.btn-historia{
  background-color: #F1CBBE;
  border: #89000C 3px solid;
  border-radius: 90px 60px 60px 0;
  color: #89000C;
  font-family: 'Imbue', sans-serif;
  font-size: 1.5em;
  width: 200px;
  height: 50px;
  padding: 3px;
  margin-left: 15%;
}
.btn-historia:hover{
  background-color: #89000C;
  color: #fff;
}

/*ADAPTAÇÕES*/

.img-adaptacao-left,
.img-adaptacao-right{
max-width: 200px;
max-height: auto;
display: block;
}
/*
@media (max-width: 992px) {
.img-adaptacao-right{
  display: none; /* Ocultar a imagem da direita em telas médias 
}
}*/

.img-adaptacao-bottom{
  max-width: 70%;
  max-height: auto;
  margin-left: 30%;
  margin-top: 5%;
}
.conteudo{
  margin-left: -4%;
}

/*SOBRE MIM*/
.conteudo-sobre{
  margin-left: 42%;
}

.img-girl{
  max-width: 320px;
  max-height: auto;
}

.img-one,
.img-two{
  max-width: 225px;
  max-height: auto;
}
.img-one{
  margin-bottom: 5px;
 
}

.img-name{
  max-width: 100px;
  max-height: auto;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
}

  .custom-img {
    max-height: 500px;
    width: auto;

}


/* Telas Mobile */
@media (max-width: 967px) {
  /* Estilos para telas móveis */

  /* Oculta a seção à esquerda em telas menores */
 /* #side {
    display: none;
  }*/
/*menu fixo lateral*/

body{
  padding-left: 10px;
  margin-left: 10px;
  
}
.h2-obras{
  font-size: 1.5em;
}

#side {
  position: fixed;
  top: 10%;
 height: 80%; 
 border-radius:  0 80px 80px 0 ;
  left: 0; 
  background-color: #89000C;
   /* Altura igual à altura da tela */
  padding: 30px;
  width: 40px;
  z-index: 1000;
  overflow: hidden;
}

.profile-pic,
.profile-img,
.text-white,
.sidebar{
  display: none;
}

#scroll-part{
  margin-left: 10%;
}
#secaoZero,
#secaoUm,
#secaoDois,
#secaoTres,
#secaoQuatro,
#secaoCinco,
#secaoSeis{
  margin-left: 10%;
}

.img-adaptacao-bottom{
 display: none;
}

#secaoCinco .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-name {
  margin-top: 0; /* Removendo a margem superior */
  margin-left: 0; /* Removendo a margem esquerda */
  margin-right: 15px; /* Ajustando a margem direita */
}

.img-one,
.img-two,
.img-name {
  max-width: calc(50% - 7.5px); /* Ajustando a largura das imagens */
  margin-bottom: 15px; /* Adicionando margem inferior */
}

.order-md-1 {
  order: 2;
}

.order-md-2 {
  order: 1;
}


.img-side-sobre img {
  display: block;
  margin-bottom: 10px;
  max-width: 80%; /* Mantendo a largura da imagem da girl em 100% */
  margin-right: 25px;
}
.img-girl {
  max-width: 100%; /* Mantendo a largura da imagem da girl em 100% */
  margin-right: 25px;
}
 
.img-name{
  margin-top: 10px;
}
.conteudo-sobre {
  margin-left: 0; /* Removendo a margem esquerda */
}

}
