* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    
    box-sizing: border-box; /* Mantém largura e altura definidas pelo desenvolvedor incluindo padding e bordas */
  }

  body{
    background-color: #F1CBBE;
  }

.col-md-8 {
    position: relative;
    z-index: 2; /* Ajuste o valor de z-index conforme necessário */
}

  /*menu fixo lateral*/
  #side {
    position: fixed;
    top: 0; /* A seção ficará fixa no topo da janela */
    left: 0; /* A seção ficará fixa no lado esquerdo da janela */
    background-color: #89000C;
    height: 100vh; /* Altura igual à altura da tela */
    padding: 30px;
    z-index: 1000;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /*secao onde fica a imagem*/
  .profile-pic {
    position: relative;
    background-color: #fff;
    padding: 10px;
    border-radius: 1000px 1000px 0 0;
    width: 100%; /* Tornar a largura responsiva */
    height: auto; /* Altura automática para tornar a imagem responsiva */
    max-width: 180px; /* Definir a largura máxima */
    margin: 50px auto; /* Centralizar */
    text-align: center; /* Centraliza o conteúdo h1 horizontalmente */
      }

  /*imagem de perfil*/

  .profile-img {
    max-width: 100%; /* Tornar as imagens responsivas sem aumentar o tamanho */
    height: auto; /* Altura automática */
  }

  .profile-logo,
  .h1-fixo{
    display: block;
    margin: auto;

  }
    /*titulo H1 nome fixo*/
  .h1-fixo{
    font-family: 'Imbue', sans-serif;
    font-size: 3vw;
  }


   
  /*icones links*/
  .link-icones{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  /*itens de navegação itens fixos*/

  .sidebar {
    display: flex;
    flex-direction: column;
     }
  
  .button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
  }
  
  .button-group button {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 110px; /* Define a largura dos botões */
    margin-bottom: 10%; /* Adiciona margem inferior para espaçamento entre os botões */
    margin-right: 5px;
    padding: 6px;
    border-radius: 10px;
    align-items: center;
    font-size: 15px;
  }

  /*FIM DA SECTION VERMELHA*/


  /*Aqui começa a parte onde há scroll*/
  
#scroll-part{
    margin-left: 32%;/*trazendo o conteudo esquerdo*/
    max-width: 100%;/*ocupando 100% da col-8*/
    padding-top: 60px;
    display: flex;
    overflow-x: hidden;
    padding-left: 30px;
}


.titulos{
  font-family: 'Imbue', sans-serif;
  color: #89000C;
  font-size: 5em;
}

.h2-obras{
  font-family: 'Imbue', sans-serif;
  color: #89000C;
  font-size: 3em;
}

h2{
  font-family: 'Imbue', sans-serif;
  color: #89000C;
  font-size: 3em;
}
p{
    color: #89000C;
    font-size: 1.5em;
}

/*aqui começa a imagem maior da home*/

/*.img-container {
  max-width: 100%; /* Para garantir que a imagem se ajuste ao contêiner */
 /* height: auto; /* Para garantir que a altura seja ajustada automaticamente proporcionalmente à largura */
 /* min-height: 400px; /*altura mínima */

/*
.img-container img {
  width: 100%; /* Para garantir que a imagem ocupe toda a largura do contêiner */
 /* height: auto; /* Para manter a proporção da imagem */
  /*display: block; /* Para remover margens adicionais */
  /*margin: 0 auto; /* Para centralizar a imagem horizontalmente */

.texto-home{
  padding-top: 10px; /* Adicionando padding ao topo do texto */
  padding-bottom: 10px; 
  
  }

.container-img-home{
    padding-left: 5%;
   
  }

   /*imagem grande da home*/
.custom-img {
    /* height: 500px;*/
      max-height: 500px; /* Defina a altura mínima desejada */
}

@media (min-width: 992px) {
  .custom-img {
    min-height: 500px;
    width: 100%;

  }
}
  /*texto*/
  .container-texto {
    padding-left: 4%;
 
  }

  /*Secao 1*/
  #secaoZero,
  #secaoUm,
  #secaoDois,
  #secaoTres,
  #secaoQuatro{
    margin-left: 32%;/*trazendo o conteudo esquerdo*/
    max-width: 100%;/*ocupando 100% da col-8*/
    padding-top: 60px;
    display: flex;
    overflow-x: hidden;
    padding-left: 30px;
}


/*capa das obras*/
.img-obras{
  max-height: 220px;
  margin-left: 11%;
  margin-bottom: 6%;
  /*borda na imagem*/
  border: 3px solid #161414;
  border-radius: 90px 90px 0 0;
}


/*configurando estilos da linha vertical com genero das obras*/

/*linha vertical*/
.vertical-line {
  border-left: 5px solid #89000C; /* Define a borda esquerda da linha */
  height: 150px; /* Define a altura da linha */
  margin-right: 2%;
  margin-left: 9%;
}

/*container que tem a linha e os itens*/
.linha {
  display: flex;
  align-items: flex-start; /* Alinha os itens ao topo */
}

/*container onde tem o genero textual da obra*/
.info-container {
  display: flex;
  flex-direction: column; /* Os itens serão dispostos em uma coluna */
}

.info {
  margin: 5px 0; /* Adiciona espaço entre os itens */
  color: #161414;
}
/*FIM DA LINHA VERTICAL E GENERO DAS OBRAS*/

/*deixando o icone classificacao indicativa e o nome da obra lado a lado com display flex*/
.container-status-obra{
  display: flex;
  margin-bottom: 0;
  margin-left: 2%;
}

.h2-obras{
  font-size: 3em;
}

/*icone +18*/
.icone-classificacao{
  height: 30px;
  margin-top: 25px;
  margin-right: 3px;
}

/*andamento da obra*/
small{
  color: #161414;
}

/*Texto resumo das obras*/
.texto-descritivo{
  color: #161414;
  font-size: 1.3em;
  margin-top: 20%;
  margin-bottom: 20%;
}

/*botao com link para a historia*/
.btn-historia{
  background-color: #F1CBBE;
  border: #89000C 3px solid;
  border-radius: 90px 60px 60px 0;
  color: #89000C;
  font-family: 'Imbue', sans-serif;
  font-size: 1.5em;
  width: 200px;
  height: 50px;
  padding: 3px;
}
.btn-historia:hover{
  background-color: #89000C;
  color: #fff;
}